@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; padding: 0; box-sizing: none; font-family: 'SBAggroB';}
li , ul {list-style: none;}
a {cursor: pointer; color: #333; text-decoration: none; }
input {outline: none;}
body {overflow-x: hidden; position: relative;}
h1, h2, h3, h5, h6, p, span, em {word-break: keep-all;}


html {font-size: 20px;}

.mb {display: none;}

main {
    min-height: 70vh;
}

header {
    padding: 0 30px;
    width: calc(100% -30px);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;

}

header > div {
    display: flex;
}
header .logo {
    margin-right: 60px;
    font-size: 32px;
    color: #79A73F;

}
header .logo a {
    font-size: 32px;
    color: #79A73F;

}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    font-weight: 100;
}


.menu li {
    margin-right: 50px;
}

header p {
    font-weight: bold;
}

.inner_wrap {
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.banner p {
    padding-top: 120px;
    font-size: 2.5rem;
    font-weight: 100 !important;
}
.banner h3{
    word-break: keep-all;
    padding-top: 30px;
    font-size: 4.0rem;
}
.banner h2{
    word-break: keep-all;

    padding-top: 20px;
    font-size: 4.0rem;
    color: #79A73F;
    padding-bottom: 100px;
}

.main_menu {
    position: relative;
    width: 100%;
    height: 310px;
}
.menu_box {
    position: absolute;
    width: calc(60vw);
    height: 100%;
    background-color: #f9f9f9;
    transform: translate(0px, 0px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_box.on {
    z-index: 5;
    background-color: #fff;
    box-shadow: 10px -30px 60px 5px rgba(224, 224, 231, 0.25);
}

.menu_box a {
    pointer-events: none;
}

.menu_box.on a {
    pointer-events: all;
}

.main_menu .menu_box:first-child {
    left: 0;

    border-top-right-radius: 310px;
    border-bottom-right-radius: 310px;

}
.main_menu .menu_box:last-child {
    right: 0;
    border-top-left-radius: 310px;
    border-bottom-left-radius: 310px;
    text-align: right;
}
.main_menu .menu_box:first-child .menu_text{
    margin-left: 30%;
}
.main_menu .menu_box:last-child .menu_text{
    margin-right: 30%;

}

.main_menu .menu_box p {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #bbb;
    margin-bottom: 5px;
    transition: all 0.6s;
}

.main_menu .menu_box.on p {color: #79A73F;}

.main_menu .menu_box h3 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.5px;
    color: #bbb;
    line-height: 48px;
    transition: all 0.6s;
}

.main_menu .menu_box.on h3 {color: #333;}

.main_menu .menu_box.on button {
    background-color: #fff !important;
}

.main_menu .menu_box .go_btn1 button{
    width: 200px;
    height: 200px;
    background-color: #f9f9f9;
    border: 0;
    margin-right: 60px;
    cursor: pointer;
}
.main_menu .menu_box .go_btn2 button{
    width: 200px;
    height: 200px;
    background-color: #f9f9f9;
    border: 0;
    margin-left: 60px;
    cursor: pointer;
}

.main_menu .menu_box a {
    display: block;
    width: 166px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
    background: #fff;
    box-shadow: 0 3px 6px 2px rgba(61, 61, 61, 0.08);
    opacity: .3;
    transition: all 0.6s;
}

.main_menu .menu_box.on a {
    opacity: 1;
}


.main_menu .menu_box .go_btn button .icon{
    font-size: 1.7rem;
}

.main_con1 {
    padding-top: 200px;
}


.con_title {
    text-align: center;
    color: #79A73F;
    margin-bottom: 40px;
    font-size: 2.8rem;
}

.con_text {
    text-align: center;
    font-size: 2.5rem;
}

.con_text_sub {
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    color: #555;
}

a.con_btn  {
    display: block;
    width: 320px;
    height: 92px;
    font-size: 1.3rem;
    background-color: #333;
    font-weight: 700;
    color: #fff;
    line-height: 92px;
    border-radius: 50px;
    text-align: center;
    margin: 50px auto;
}

.visual_boxs {
    margin: 100px auto;
    margin-bottom: 150px;
    position:relative;
    width:80%;
    max-width: 1100px;
    padding:82px 50px 70px;
    background:#fff;
    border-radius: 67px;
    text-align:center;
    box-shadow: 0 16px 36px 0 rgba(204, 204, 213, 0.43);
}

.visual_boxs .visual_imgs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.visual_img {
    width: 280px;
    height: 280px;
    border-radius: 280px;
    /* background-color: #ccc; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.visual_img img {

    min-height: 280px;
    height: 280px;
    width: auto;
    object-fit: cover;
}

.visual_boxs .visual_imgs .visual_box {
    width: 280px;
    height: 330px;
    margin-bottom: 30px;
} 

.visual_title{
    width: 260px;
    height: 260px;
    background-color: #79A73F;
    color: #fff;
    text-align: center;
    line-height: 260px;
    border-radius: 260px;
    font-size: 2rem;
    margin: 0 auto;

}





.visual_text div p {
    font-size: 1.5rem;
}

.visual_text div h3 {
    font-size: 2rem;
}
.visual_text div h2 {
    color: #79A73F;
    font-size: 2rem;
}

.arrows {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.arrows img {
    height: 32px;
    opacity: 1;
    transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.arrows img:nth-child(1){animation: fade-in 1s infinite; animation-delay: 200ms;}
.arrows img:nth-child(2){animation: fade-in 1s infinite; animation-delay: 400ms;}
.arrows img:nth-child(3){animation: fade-in 1s infinite; animation-delay: 600ms;}



.con_box {
    padding-top: 50px;
    margin-left: 100px;
}

.con_box h3 {
    font-size: 2.5rem;
    line-height: 60px;
}

.con_box a {
    margin-top: 40px;
    display: block;
    font-size: 1.3rem;
    color: #fff;
    background-color: #333;
    width: 300px;
    height: 80px;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
}

.main_con3 .inner_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;

}

.main_con3 .inner_wrap img {
    margin-right: 100px;
    width: 330px;
}





/* 클린마을 */
.sub_title p {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 68px;
    color: #111;
}

.sub_title span {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 32px;
    color: #656565;
    margin-top: 10px;
    display: block;
}

.sub_title .inner_wrap {
    margin: 100px auto;
}

.gradient_box {

    width: 100%;
    height: 60px;
    background-image: linear-gradient(to bottom, rgba(162, 168, 179, 0), rgba(162, 168, 179, 0.15));
}

.rank {padding: 150px 0;}

.rank_head{position:relative;margin-bottom:32px;}
.rank_head p{font-size:2rem;font-weight:900;color:#111;}
.rank_head span{ display:block;position:absolute;right:0;bottom:0;text-align:right;font-size:1.2rem;font-weight:bold;}
.rank_head em{font-size:1.2rem;font-weight:900;color:#79A73F;}


.rank_boxs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rank_box {
    margin: 10px auto;
    position: relative;
    display: inline-block;
    padding: 60px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 3px 10px 0 rgb(224 224 231 / 60%);
    width: calc(50% - 120px);
    
    height: 500px;
}

.rank_box_more {
    position: relative;
    display: inline-block;
    padding: 60px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 3px 10px 0 rgb(224 224 231 / 60%);
    width: 100%;
    min-height: 500px;
}

.rank_box_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.rank_box_top h3 {
    font-size: 1.6rem;
    font-weight: 900;
}

.rank_box_top a {
    color: #fff;
    background-color: #333;
    padding: 12px 20px;
    font-size: 0.9rem;
    border-radius: 5px;
}

.rank_lists {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rank_lists li {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
}

.rank_box_more li{
    width: 100%;
}

.rank_box_more .rank_lists li {
    display: flex;
    flex-wrap: wrap;
}

.rank_box_more .rank_lists li > span {
    width: auto;
}
.rank_box_more h5 {
    padding-left: 20px;
    line-height: 60px;
    font-size: 0.8rem;
    color: #666;
}

.rank_box_more h5 span {
    color: #79A73F;
    margin-right: 15px;
}

.rank_lists li p {
    font-size: 1.3rem;
    width: 70px;
}

.rank_lists li:first-child p {
    color: #79A73F;
    letter-spacing: 2px;
    font-size: 1.5rem;
}
.rank_lists li:first-child h3 {
    color: #79A73F;
}

.rank_lists li .rank_img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100%;
    background-color: #f5f5f5;
}

.rank_lists li .rank_img a {
    display: block;
    width: 100%;
    height: 100%;
}

.rank_lists li .rank_img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.rank_lists li > span {
    width: 250px;
    margin-left: 30px;
    font-size: 1.2rem;
}

.rank_lists li h3 {
    font-size: 1.8rem;
    margin-left: auto;
}

.rank_lists li h3 em {
    font-size: 0.8rem;
    color: #ddd;
}

.funding_list .inner_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.funding_con {
    width: 280px;
    height: 400px;
    margin-top: 30px;
    margin: 0 10px;
}

.funding_img {
    width: 100%;
    height: 230px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.funding_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

}

.funding_con > span {
    display: block;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex span{
    color: #79A73F;
}


.funding_con > a {
    display: block;
    height: 60px;
    font-size: 1.3rem;
}

.board-list {
    margin: 50px 0;
}

.section-title h2 {
    padding: 0;
    font-size: 2rem;
    color: #222;
    
}

.section-title .notice-text {
    font-size: 0.9rem;
    line-height: 22px;
    color: #666;
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

form .inputs:first-child {
    border-top: 1px solid #333;
}

.inputs {
    width: 100%;
    height: 60px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
}

form .ask:last-child {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

/* .ask {margin-top: 10px;} */
.ask p {
    display: block;
    width: 1160px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-bottom: 0;
}

.ask textarea {
    width: 1160px;
    padding: 10px 20px;
    height: 400px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    outline: none;
}

.input-box {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 135px;
}

.inputs .input-box input {
    width: 300px;
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #b4b4b4;
    background: transparent;
}

.inputs .input-box2 input#ask {
    width: 850px;
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #b4b4b4;
    background: transparent;
}

.require {
    padding-left: 40px;
    display: inline-block;
    position: relative;
    padding-right: 12px;
}
.require:after {
    content: '*';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    color: #e21b22;
}

.data-list {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-list input {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.data-list li {
    display: flex;
    align-items: center;
}

.data-list label{
    display: block;
}

.btn-area {
    margin: 10px auto;
    width: 410px;
    display: flex;
    justify-content: space-between;
}

.back {
    width: 200px;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    border-radius: 10px;
}
.submit {
    width: 200px;
    height: 45px;
    line-height: 45px;
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    border-radius: 10px;
}

.Fd {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Fd_img {
    width: 500px;
    height: 400px;
    border: 1px solid #ccc;
}

.Fd_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Fd_box {
    width: 600px;
}

.Fd_text {
    display: flex;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.Fd_box > span {
    color: rgb(102, 102, 102);
    margin-bottom: 15px;
    display: block;
}

.Fd_box > h3 {
    font-size: 1.7rem;
    line-height: 50px;
}

.Fd_box > h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #444;
}

.Fd_box > p {
    color: #79A73F;
    margin-bottom: 10px;

}

.Fd_text > span {
    width: 128px;
    height: 100%;
    color: rgb(102, 102, 102);
    font-weight: 400;
    line-height: 19px;
}
.Fd_text > div > span {
    color: #555;
    margin-top: 8px;
    font-size: 0.9rem;

}

.Fd_btn {
    margin-top: 20px;
    width: 100%;
    background-color: #79A73F;
    color: #fff;
    text-align: center;
    height: 50px;
    border: 0;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card li {
    width: 32%;
    min-height: 300px;
    margin: 5px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 3px 10px 0 rgb(224 224 231 / 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.card li span {
    line-height: 40px;
}

.card li h3 {
    font-size: 2.2rem;
    line-height: 50px;
}

.center {text-align: center;}
.center p {font-size: 2.8rem; line-height: 70px;}

.Farm {
    margin: 100px 0;
}

.Farm > p{
    text-align: center;
    font-size: 1.7rem;
    margin-top: 30px;
    margin-bottom: 80px;
}

.Farm .inner_wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Farm_list {
    width: 50%;
}

.Farm_list p {
    font-size: 1.5rem;
}

.Farm_list > .Farm_con.chk {
    background-color: #78a73f3a;
}
.Farm_list > .Farm_con .circle-check {
    color: #ddd;
}
.Farm_list > .Farm_con.chk .circle-check {
    color: #79A73F;
}


.Farm_list > .Farm_con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 84px;
    padding: 10px 18px;
    border-radius: 12px;
    border: 1px solid #eee;
    box-shadow: 0 3px 10px 0 rgba(224,224,231,0.6);
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 10px;
}
.Farm_list > .Farm_con .Farm_text {
    width: 80%;
}

.Farm_box {
    width: 48%;
    min-height: 200px;
    padding: 35px 25px 42px 25px;
    border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 0 3px 10px 0 rgba(224,224,231,0.6);
    box-sizing: border-box;
}

.Farm_box h3 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.Farm_box h3 .icon {
    margin-right: 15px;
}

.Farm_text {
    margin-left: 10px;
}
.Farm_text h3 {
    font-size: 1.3rem;
}
.Farm_text p {
    font-size: 15px;
    color: #777;
}

.Farm_list > span {
    color: #555;
    line-height: 35px;
    margin-bottom: 15px;
    display: block;
}

.icon {
    height: 45px;
    width: 45px;
    background-color: #79A73F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.Farm_box p {
    margin-top: 20px;
}
.Farm_box span {
    margin-top: 20px;
    color: #555;
    font-size: 0.9rem;
    display: block;
    margin-top: 10px;
}

.Farm_img {
    margin-top: 50px;
    height: 250px;
    width: 100%;
    overflow: hidden;
}


.Farm_img img{
    width: 100%;
    object-fit: cover;
}

.Farm_btn {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #79A73F;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
}



/* 푸터 */
footer {
    font-size: 0.9rem;
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
}

footer .inner_wrap {
    padding-top: 30px;
}

footer .inner_wrap p {
    margin: 0 10px;
    line-height: 50px;
}

.f_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f_menu a {
 display: block;
 position: relative;
 width: 150px;text-align: center;
}



.f_menu a:nth-child(2)::after {
 display: block;
 position: absolute;
 content: " ";
 width: 1px;
 height: 20px;
 background-color: #333;
 left: 0;
 top: 0;
}
.f_menu a:nth-child(2)::before {
 display: block;
 position: absolute;
 content: " ";
 width: 1px;
 height: 20px;
 background-color: #333;
 right: 0;
 top: 0;
}


.f_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (min-width: 320px) and (max-width: 1230px) {
    .rank_box_more .rank_lists li {
        justify-content: space-between;
    }
    .Fd_box {width: 90%; margin: 0 auto;}

    .pc {display: none;}
    .mb {display: block;}

    .sub_title {text-align: center;}
    
    .main_menu .menu_box {width: 80vw;}

    .main_menu .menu_box:first-child .menu_text{
        margin-left: 8%;
    }
    .main_menu .menu_box:last-child .menu_text{
        margin-right: 8%;
    }
    

    .main_menu .menu_box .go_btn1 button {
        width: 10px;
    }
    .main_menu .menu_box .go_btn2 button {
        width: 10px;
    }

    .main_menu .menu_box a {font-size: 1.2rem;}

    .con_box a {margin: 0 auto; margin-top: 10px;}

    .inner_wrap {max-width: 100%;}

    .banner .inner_wrap {text-align: center;}

    .visual_boxs .visual_imgs {
        flex-direction: column;
    }

    .rank_box {
        width: 95%;
        height: auto;
    }

    .rank_lists li > span {
        width: auto;
        font-size: 2rem !important;
    }

    .rank_box .rank_img {
        width: 60px !important;
        border-radius: 60px !important;
        margin-right: 20px;
    }

    .rank_box .rank_img a img {
        width: 60px !important;
        height: 60px !important;
    }

    .arrows {transform: rotate(90deg);}

    .Farm_list {
        width: 90%;
        margin: 0 auto;
    }

    .Farm_box {
        width: 90%;
        margin: 0 auto;
    }

    .require {
        padding-left: 12px;
        display: inline-block;
        position: relative;
        padding-right: 12px;
        margin-right: 10px;
    }
    .btn-area {width: 310px;}
    .back , .submit{width: 150px;}
    .input-box {width: 100%; border-top: 1px solid #333; padding: 10px; margin-right: 0;}
    .inputs {flex-wrap: wrap; height: auto; border: 0;}
    .data-list {flex-wrap: wrap; width: 100%;}
    .ask textarea {width: calc(100% - 40px);}
    .ask p {width: calc(100% - 40px);}
    .m-btn {font-size: 3rem;}
    #m-menu {position: fixed; top: 0; padding: 2.5vh 7.5vw; right: -100vw; width: calc(85vw); height: 95vh; transition: 0.5s all; background-color: #fff; z-index: 10000;}
    .closebtn {font-size: 3rem; float: right;}
    .menus {font-size: 2.5rem; line-height: 8rem; text-align: center; margin-top: 30px;}

    .menus li {margin: 0; padding: 0; text-align: center;}
    .con_box {margin-left: 0; text-align: center; margin: 20px auto;}

    footer .inner_wrap p {margin: 0 3px;}
    .main_con3 .inner_wrap img {width: 250px; margin: 0 auto;}
    .rank_box_more h5 {padding-left: 5px;}
    .rank_head em {font-size: 1rem;}
    .rank_box_more h5 span {margin-right: 5px;}
    .visual_boxs {
        margin: 100px auto;
        margin-bottom: 150px;
        position: relative;
        width: 80%;
        max-width: 1100px;
        padding: 20vw 10vw 13vw;
        background: #fff;
        border-radius: 67px;
        text-align: center;
        box-shadow: 0 16px 36px 0 rgba(204, 204, 213, 0.43);
    }
    .rank_lists li p {width: 50px;}
    .rank_lists li {height: 120px;}
    .rank_lists li .rank_img {
        width: 53vw;
        height: 60px;
        overflow: hidden;
        border-radius: 0;
        background-color: #f5f5f5;
    }
    .rank_lists li > span {margin-left: 0;}
    .rank_box_more {padding: 0 10px;}
    .rank_head p {font-size: 1rem;}
    .visual_box {font-size: 1.5rem;}
    .radios {width: 100%; margin-top: 10px;}
    .section-title {text-align: center;}
}
@media (min-width: 768px) and (max-width: 1260px) {
  
    html {font-size: 14px;}

    .rank_box_more h5 {font-size: 0.8rem;}
    .data-list {flex-direction: column;  width: 100%;}
    .radio {margin: 10px auto; width: 100%;}
    .data-list li {justify-content: center; width: 100%;}
  }
  


  @media (min-width: 481px) and (max-width: 767px) {
    html {font-size: 12px;}
    .data-list {flex-direction: column;  width: 100%;}

    .radio {margin: 10px auto; width: 100%;}
    .data-list li {justify-content: center; width: 100%;}

    
  }

  
  @media (max-width: 480px) {
    html {font-size: 10px;}
    .data-list {flex-direction: column;  width: 100%;}

    .radio {margin: 10px auto; width: 100%;}
    .data-list li {justify-content: center; width: 100%;}

    
  }